.title-container {
  display: grid;
  gap: 1.5rem;
  text-align: center;

  @media screen and (min-width: 90em) {
    gap: 1.6rem;
  }
}

.title-1 {
  color: var(--grey);
  font-family: Libre Franklin;
  font-size: var(--mobile-large-font-size);
  font-weight: 300;
  line-height: 3.2rem;

  .highlighted {
    color: var(--very-dark-blue);
    font-weight: 700;
  }

  @media screen and (min-width: 90em) {
    font-size: var(--desktop-large-font-size);
    line-height: 6rem;
  }
}

.subtitle {
  color: var(--very-dark-blue);
  font-size: var(--mobile-default-font-size);
  font-weight: 300;

  @media screen and (min-width: 90em) {
    font-size: var(--desktop-default-font-size);
  }
}
