:root {
  font-size: 62.5%;
  --pure-white: #fff;
  --grey: #969696;
  --hovered-blue: #7196f5;
  --placeholder-blue: #b8c7ed;
  --light-blue: #c2d3ff;
  --blue: #4c7bf3;
  --very-dark-blue: #15202a;
  --red: #ff5466;
  --mobile-small-font-size: 1rem;
  --mobile-default-font-size: 1.2rem;
  --mobile-large-font-size: 22px;
  --desktop-small-font-size: 1.2rem;
  --desktop-default-font-size: 2rem;
  --desktop-large-font-size: 4.8rem;
  --desktop-form-font-size: 1.6rem;
}
